<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.connectionString"
            connectionString="Data Source=.\sql2014;Initial Catalog=PrimerParcial;Integrated Security=true" />
    </connectionStrings>
</configuration>